.form {
   margin-top: 15px;
   display: flex;
   flex-direction: column;
}

.input {
   display: block;
   border: 1px solid #465671;
   border-radius: 8px;
   margin-bottom: 7px;
   padding: 8px;
}

.textarea {
   resize: none;
   font-family: "Lato", sans-serif;
}

.submit {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: #ffffff;
   width: 102px;
   height: 29px;
   margin-top: 12px;
   background: #0079bf;
   border-radius: 5px;
}
